/** @format */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-fluid {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .zoomy {
    width: 400px;
    .row {
      clear: both;
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-top: 10px;
    }
    .bg-slide {
      margin-bottom: 30px;
      width: 100%;
      height: 400px;
      background-image: url(https://dkstatics-public.digikala.com/digikala-products/b809af600e74f4ee0c1722c05b9466693a76e6a6_1722673336.jpg?x-oss-process=image/resize,m_lfit,h_800,w_800/format,webp/quality,q_90); /*set your image address */
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
      }

      .square {
        width: 100px;
        height: 100px;
        border: 1px solid rgb(216, 40, 40);
        display: none;
        z-index: 100;
        position: fixed;
        pointer-events: none;
      }

      &:hover {
        cursor: crosshair;
      }
      &:hover .square {
        display: block;
      }
      &:hover img {
        opacity: 0;
      }
      &.bg-slide.floatWindowActived img {
        opacity: 1;
      }
    }
    .slides {
      border-radius: 3px;
      margin: 0 10px;
      transition: 0.5s ease;
      cursor: pointer;
      &:hover {
        -webkit-box-shadow: 0px 6px 19px -3px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 6px 19px -3px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 6px 19px -3px rgba(0, 0, 0, 0.75);
      }
      img {
        width: 100%;
        height: 100%;
      }
    }

    .float-window {
      width: 400px;
      height: 400px;
      background-color: red;
      position: absolute;
      top: 12%;
      left: 18%;
      background-image: url(https://dkstatics-public.digikala.com/digikala-products/b809af600e74f4ee0c1722c05b9466693a76e6a6_1722673336.jpg?x-oss-process=image/resize,m_lfit,h_800,w_800/format,webp/quality,q_90); /*set your image address */
      display: none;
    }
  }
}
